.breweryprofile {
    //min-height: 150vh;
    display: flex;
    flex-direction: column;
    padding: 0 15rem 0 4rem;
    margin: 1.5rem 0 3.5rem 0;
}

.breweryprofile__container {
    display: flex;

    flex-direction: column;
}

.breweryprofile__content {
    width: 40%;
    display: flex;
}

.breweryprofile__image {
    height: 12rem;
    width: 12rem;

    margin-top: 3rem;
}

.edit__button {
}

.add-beer__button {
}
