.footer {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: $primary-grey;
    font-weight: 200;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}