.form {
    display: flex;
    background-color: white;
    border: 2px solid red;
    flex-direction: column;
    align-items: center;
    color: $secondary-blue;
    justify-content: space-around;
    height: 40rem;
    position: absolute;
    top: 7rem;
    width: 60%;
    overflow: auto;
}

.form__h2 {
    font-weight: $heading-font-weight;
}

.form__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid red;
    align-items: flex-start;
    width: 90%;
    position: absolute;
    top: 0;
    overflow: auto;
}

.form__label {
}

.form__input {
    // border-color: transparent;
    // outline-color: $primary-yellow;
    // color: $primary-grey;
    // border-top-right-radius: 15px;
    // border-bottom-right-radius: 15px;
}

// .form__label-name {
//     display:block;
// }

// .form__input-name {
//     display:block;
// }

// .form__label-surname {
//     display:block;
// }
// .form__input-surname {
//     display:block;
// }

// .form__label-username {
//     display:block;
// }

// .form__input-username {
//     display:block;
// }

// .form__label-breweryname {
//     display:none;
// }

// .form__input-breweryname {
//     display:none;
// }

.form__label-email {
}

.form__label-password {
}

.form__label-confirm {
}

.form__label-member {
}

.form__label-brewery {
}

// #radio-member:checked~
// div .form__label-name,
// div .form__input-name,
// div .form__label-surname,
// div .form__input-surname,
// div .form__label-username,
// div .form__input-username {
//     display:block;
// }

// #radio-member:checked~
// div .form__label-breweryname,
// div .form__input-breweryname {
//     display:none;
// }

// #radio-brewery:checked~
// .form__label-name,
// .form__input-name,
// .form__label-surname,
// .form__input-surname,
// .form__label-username,
// .form__input-username {
//     display:none;
// }

// #radio-brewery:checked~
// .form__label-breweryname,
// .form__input-breweryname {
//     display:block;
// }

// #radio-member:checked ~
// #first-name {
//     display:none;
// }

// #radio-brewery:checked ~
// #first-name {
//     display:block;
// }

// input#radio-member:checked + div #first-name {
//     color: red;
// }

// input#radio-brewery:checked + div #first-name {
//     color: blue;
// }

input[type="radio"]#radio-brewery:checked + div #first-name {
    display: hidden;
}

// //add just some hover effect
// #radio-member:hover~ .nav__list {
//     visibility: visible;
//     opacity: 2;
//     -webkit-transform: translateY(0px);
//     transform: translateY(0px);
// }

// #radio-brewery:checked~ .nav__list {
//     visibility: visible;
//     opacity: 2;
//     -webkit-transform: translateY(0px);
//     transform: translateY(0px);
// }
// //add just some hover effect
// #radio-brewery:hover~ .nav__list {
//     visibility: visible;
//     opacity: 2;
//     -webkit-transform: translateY(0px);
//     transform: translateY(0px);
// }
