.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    width: 50%;
    margin: 4.5rem 0 7rem 0;
    padding: 0 4.5rem;
    min-height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form__h2 {
    font-weight: $heading-font-weight;
}

.form__input {
    width: 100%;
}

.form__radio {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    justify-items: center;
}

.form__button {
  background-color: $secondary-orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  width: 100%;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:active {
    transform: scale(0.99,0.95);
  }

  &:hover {
    filter: brightness(85%);
  }
}
