// main yellow
.main {
    background-color: $primary-yellow;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: inherit;
    min-height: 100vh;
}

//featured (left window)
.main-product {
    width: 35%;
    padding: 0 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: fit-content;
    padding: 0 4rem 0 4rem;
    margin: 1.5rem 0 3.5rem 0;

    &__image-container {
        border-radius: 7px;
        position: relative;
        overflow: hidden;
        padding: 0;
        width:100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //opacity: 0.7;
        // object-fit: cover;
        

        &:hover {
            //opacity: 1.0;
        }
    }

    &__detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// lists (right window)
.product-list {
    border-left: 1px solid $primary-grey;
    width: 65%;
    display: flex;
    flex-direction: column;
    //margin: 1.8rem 0 3.5rem 0;
    //padding: 0 4.5rem;
    min-height: fit-content;
    padding: 0 4rem 0 4rem;
    margin: 1.5rem 0 3.5rem 0;

    &__products-container {
        margin: 0.4rem 0 0 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__image-container {
        border-radius: 7px;
        overflow: hidden;
        //height: 14rem;
        //width: 14rem;
        border: 1px solid $primary-grey;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: transform 0.4s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__button {
        background-color: $secondary-orange;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: 500;
        width: 30%;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                     rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    &__rating-container {
        display: flex;
        justify-content: flex-end;
    }

    &__img {
        width: 100%;
        height: 100%;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    //headline
    &__title {
        font-weight: $secondary-font-weight;
    }

    //one item = beer
    &__item {
        width: 30%;
    }
    &__detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    //name - bottom left corner of item
    &__name {
        font-size: 0.8rem;
        font-weight: 300;
    }

    //rating - bottom right corner of item
    &__rating {
    }
}

//font and image size handling
@media screen and (max-width: 1350px) {
    .product-list__name {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 1250px) {
    .product-list__name {
        font-size: 0.59rem;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1.25rem !important;
    }

    .form {
        &__radio {
            width: 85%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-product {
        width: 45%;
    }

    .product-list {
        width: 65%;
        padding: 0 3.9rem;

        &__item {
            width: 47%;
        }
    }

    .form {
        width: 60%;

        &__radio {
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 2.5rem !important;
    }

    h3 {
        font-size: 2rem !important;
    }

    .main {
        flex-direction: column;
        width: 100%;
        align-items: center;
        //border: 2px solid red;
        justify-content: flex-start;
        justify-items: center;
        //font-size: 1.5rem;
    }
    .main-product {
        width: 100%;
        justify-content: center;
    }

    .product-list {
        width: 100%;

        &__item {
            width: 100%;
        }

        &__name {
            font-size: 1.5rem;
        }

        &__image-container {
            border: none;
        }

        &__products-container {
            flex-direction: column;
            flex-wrap: nowrap;

            border: 2px solid red;
        }
    }

    .form {
        font-size: 0.6rem;
        padding: 0 2.5rem;
    }
}

// change to mobile
@media screen and (max-width: 480px) {
    h2 {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 1.5rem !important;
    }

    .main-product,
    .product-list {
        margin: 1rem 0.5rem;
        padding: 0 2rem;
    }

    .product-list__item {
        border-bottom: 1px solid $primary-grey;
    }

    .form {
        width: 85%;
        font-size: 1rem;
    }
}
