.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vmin;
    position: relative;
}

//featured beer -left side
.main-product {
    padding: 4rem;
    border: 2px solid red;
    width: 35%;
    

    &__img {
       width: 6rem;
        
    }
    
}

// list of beers - right side, 6items + headline
.product-list {
    display: flex;


    //headline
    &__title {
        

    }
    
  //one item = beer
    &__item {
        border: solid 1px;
    } 

    //name - bottom left corner of item
    &__name{
        
        
    }

    //rating - bottom right corner of item
    &__rating{

    }
}

.product-list {
    padding: 4rem;
    border: 2px solid red;
    width: 35%;
    

    &__img {
       width: 6rem;   
    }
}