.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: $primary-grey;
    height: 4rem;
}

a {
    text-decoration: none;
    color: $secondary-grey;

    &:hover {
        color: $primary-yellow;
    }
}

.nav__log-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4rem;
}

.nav__icon {
    width: 1rem;
}
