.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: $secondary-orange;
    height: 4rem;
}

a {
    text-decoration: none;
    color: $secondary-blue;

    &:hover {
        font-weight: bold;
  }
}