.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: $primary-grey;
    height: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;

    &__logo, &__log-in, &__signup, &__about {
        color: white;
        text-decoration: none; 
        
        &:hover {
            color: $primary-yellow;
        }
        &:visited {
            text-decoration: none; 
        }
    }  
}

.nav__log-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4rem;
}

