.dropbtn {
    background-color: $primary-grey;
    color: white;
    padding: 1.2rem 0;
    border: none; 
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    // border: 2px solid red;
    align-items: center;
    justify-content: center;
    justify-items: center;

    &:hover {
      color: $primary-yellow;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 56px;
    background-color: $primary-grey;
    //padding: 2px 0 2px 4px;
    min-width: 170px;
    box-shadow: 
       rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
       rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
    text-decoration: none;
  }
  
  .dropdown-content a {
    //color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    // border: 2px solid red;
    color: white;
  }
  
  .dropdown-content a:hover {
    color: $primary-yellow;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    // border: 2px solid red;
  }
  
  .dropdown:hover .dropbtn {
    background-color: $primary-grey;
    display: flex;
    justify-content: center;
    // border: 2px solid red;
    &:hover {
      color: $primary-yellow;
    }
  }

