.search-results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: start;
    //border: 2px solid red;
    width: 100%;
    margin: 4rem 0 7rem 6rem;
    position: relative;
}

.search-result__name {
    font-size: 1rem;
}

.hover {
    position: absolute;
    right: 4rem;
    top: 2rem;
}
// .search-result {
//     border: 2px solid red; 
// }

.search-result__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    width: 60%;
    padding-left: 6px;
    gap: 10px;
    background-color: $primary-yellow;
    // color: white;
    font-size: 1.2rem;
    border-radius: 3px;
    filter: brightness(90%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-result__img-hover {
    height: 20rem;
    width: 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

//font and image size handling
// @media screen and (max-width: 1350px) {
 
// }

@media screen and (max-width: 1250px) {
    .search-result__img-hover {
        height: 10rem;
        width: 10rem;
    }
}

@media screen and (max-width: 1000px) {
   
.search-result__img-hover {
     height: 8rem;
     width: 8rem;
}    
}

@media screen and (max-width: 800px) {
       .hover {
        display: none;
    }
}

// // change to mobile
// @media screen and (max-width: 480px) {
  
// }
