.input {
    border-color: transparent;
    outline-color: $primary-yellow;
    color: $primary-grey;
    font-family: $primary-font;
    width: 100%;
}

.search {
    width: 100%;
    position: center;
    display: flex;
}
.search__categories {
    border-color: transparent;
    outline-color: $primary-yellow;
    color: $primary-grey;
    font-family: $primary-font;
}
