.search {
    width: 50%;
    display: flex;
    gap: 1px;
    position: relative;

    &__container {
        width: 100%;
    }
}

.search__input {
    border-color: transparent;
    outline-color: $primary-yellow;
    color: $primary-grey;
    font-family: $primary-font;
    width: 100%;
    height: 2rem;
    padding: 0;
    text-indent: 6px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('./img/profile.svg');
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 98%;
}

.search__input-container {
    width: 60%;
}
.searchIcon{
    
}
.search__categories {
    border-color: transparent;
    outline-color: $primary-yellow;
    color: $primary-grey;
    font-family: $primary-font;
}

select {
    color: $primary-grey;
    font-family: $primary-font;
    border-color: transparent;
    text-align: center;
    outline-color: $primary-yellow;
    background-color: $primary-yellow;
    height: 2rem;
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    &:hover {
        opacity: 0.8;
    }
}

// .search__result {
//     margin-top: 5px;
//     width: 100%;
//     height: 200px;
//     background-color: white;
//     box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
//     overflow: hidden;
//     overflow-y: auto;
//     position: absolute;
//     top: 2.2rem;
//     left: 0;
//     color: black;
// }
//    //removes scrollbar
.search__result::-webkit-scrollbar {
    display: none;
}
