// colors
$primary-yellow: #fbc014;
$secondary-orange: #c2702a;
$secondary-brown: #834a1f;
$secondary-red: #ad4124;
$secondary-blue: #31475e;
$secondary-grey: #cbd4db;

// fonts and font-weights
$primary-font: 'Kanit', sans-serif;
$primary-font-weight: 100;
$secondary-font-weight: 300;
$heading-font-weight: 600;
$logo-font-weight: 900;
