// colors
$primary-yellow: #fbc014;
$secondary-orange: #c2702a;
$secondary-brown: #834a1f;
$secondary-red: #ad4124;
$secondary-blue: #31475e;
$secondary-grey: #cbd4db;

// change placeholder fonts
$primary-font: arial;
$secondary-font: arial;