@import "styles/variables";
@import "styles/nav";
@import "styles/footer";
@import "styles/form";
@import "styles/main";
@import "styles/searchdropdown";
@import "styles/navDropdown";
@import "styles/components";
@import "styles/beerprofile";
@import "styles/about";

html {
    box-sizing: border-box;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
#root {
    height: 200%;
}

body {
    margin: 0;
    font-family: $primary-font;
    color: $secondary-blue;
    background-color: $primary-yellow;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

h2,
h3 {
    font-weight: $secondary-font-weight;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: $secondary-blue;

    &:visited {
        text-decoration: none;
    }
}
