@import "styles/variables";
@import "styles/nav";
@import "styles/footer";
@import "styles/form";
@import "styles/main";
@import "styles/searchdropdown";
@import "styles/navDropdown";
@import "styles/components";
@import "styles/beerprofile";
@import "styles/about";
@import "styles/results";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
    box-sizing: border-box;
    overscroll-behavior: auto;
    // background-color: $primary-grey;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
      }
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// body,
// #root {
//     //height: 200%;
// }

body {
    margin: 0;
    font-family: $primary-font;
    background-color: $primary-grey;
    color: $secondary-blue;
    position: relative;
    display: inline;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

h2,
h3 {
    font-weight: $secondary-font-weight;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: $secondary-blue;

    &:visited {
        text-decoration: none;
    }
}
